*{
    padding: 0; /*  margem interna de elementos (botões) */
    margin: 0;  /*  margem externa de elementos */
}

body{
    background: linear-gradient( #594cee, #5fbfd0 ); 
  
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased; /* deixa a fonte mais definida no google chrome */
}

.header,
.temperature-details,
.sunset-sunrise{
    /* height: 200px; */
    max-width: 600px;
    margin: 0 auto;
}

.header{
    padding: 0 30px;
  }

.header__city-search-bar{
    /* display flex deixa o container flexivel para manipulação e itens lado a lado */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }

.header__input{
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  border: none;
  border-radius: 10px 0 0 10px;
  margin-right: -15px;
  outline: none;
}


.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    min-width: 50px;
    min-height: 50px;
    background: #393939;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px, 
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}
.header__button:hover{
    filter: brightness(1.25);
}

.header__current_date
.header__city_name {
    font-family: "Ubuntu", sans-serif;
}
.header__current_date{
    color: #383879;
    font-size: 14px;
    margin-top: 15px;
}
.header__city_name{
    font-weight: 500;
    font-size: 20px;
    margin-top: 6px;
}

/* current-temeperature */

.current-temperature{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  
  .current-temperature__weather-icon{
    width: 125px;
    margin-top: 15px;
  }
.current-temperature__description::first-letter {
    text-transform: uppercase;
  }
.current-temperature__description{
    margin-top: 30px;
    color: #362f6b;
    font-size: 24px;
}
.current-temperature__info-label{
    margin-top: 15px;
    color: #a2a2be;
    font-size: 14px;
}

.current-temperature__current-temperature{
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
}

/* Bottom container */

.bottom-container{
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

.temperature-details{
    display: flex;
    margin-top: 30px;
}
.temperature-details__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
     border-right: 1px solid #a2a2be;   /*linha de separação dos itens  */
  }
  
  .temperature-details__item:last-child{
    border: none;
  }
  
  .temperature-details__label {
    color: #a2a2be;
  }
  
  .temperature-details__value,
  .sunset-sunrise__value{
    font-weight: 500;
    margin-top: 7px;
  }

/* Sun */

.sunset-sunrise{
    display: flex;
    margin: 30px auto;
}

.sunset-sunrise__item{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}